p {
  font-size: 18px;
}

.me-img {
  width: 300px;
  padding: 30px;
}

.row {
  background-color: #4B698A90;
  border: none;
  margin: auto;
}


.title {
  text-align: center;
  background-color: none;
}

#ench {
  width: max-content;
}


.grid-container {
  display: grid;
  gap: 25px 50px;
 

}

.container {
  max-width: 500px;
  margin: 0 auto;
  align: center;
}


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}


.left {
  transform-origin: left center;
  transform: translateX(-50%);
}


.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.intro {
  background-color: #8CABFF;
  border: none;
  padding-left: 30px;
  margin: 20px;

}