

.row {
  background-color: #4B698A90;
  border: none;
  margin: auto;
}


.title {
  text-align: center;
}

.blue {
  background-color: #E5D6B0;
  margin: 30px;
  padding: auto;
}


.grid-container {
  display: grid;
  gap: 25px 50px;
 

}

