.grid-1 {
    background-color: #4B698A90;
    border: none;
    padding: 2rem 10rem;
    margin: auto;
}

.copy {
    color: #000;
}

main {
    background-color: #E5D6B0;
}

  .car {
    width: 200px;
  }
