body {
  font-family: PT Serif;
  /*background-color: #A5C0DD; */
}

 header {
  background-color: #0F6292;
  border: 2px solid;
  background-color: #0F6292;
  padding: 0px;
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

nav {
  text-align: center;
  background-color: #6096B4;
  padding: 20px;
}

p {
  font-size: 18px;
}

form {
  padding-top: 15px;
}

footer {
  background-color: #0F629280;
  margin: none;
  border: none;
}

.grid-1 {
  background-color: #7D8F6990;
  border: none;
  padding: 2rem 10rem;
  margin: auto;
}



.featured-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article-cards {
  min-height: calc(100vh - 300px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card {
  min-height: 35rem;
  max-width: 23rem;
  margin: 2rem auto;
}
 
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.table {
    border-collapse: separate;
    border-spacing: 100px;
   
  }

#Indigo, #folk, #window #june {
  width: 200px;
}

.button-container {
  display: flex;
}

.button-container button,
.button-container a {
  margin-right: 10px; /* Optional: Add some space between the buttons */
}


.me-img {
  width: 300px;
  padding: 30px;
}

.img1 {
  width: 200px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
}

.button-nav {
    width: 12rem;
    border: solid;
    border-color: #fff;
    border-radius: 5px;
    padding: 1rem 1.75rem;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
.center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.button-nav {
    width: 12rem;
    border: solid;
    border-color: #fff;
    padding: 1rem 1.75rem;
    background: transparent;
    margin: 1rem;
    color: #000;
    cursor: pointer;
}

.first {
  background-color: #6D988680;
  
  border: none;
  padding-left: 30px;
  margin: 20px;
}

.second {
  background-color: #7D8F6990;
  border: none;
  padding: 10px;
  margin: 20px;
  
} 

.form-floating {
  color: #000;
  max-width: 40rem;
  margin: auto;
}

.footer__content {
  width: 100%;
  padding-block: 1.5rem;
  font-weight: bold;
  text-align: center;
}

button:hover {
color: #1A120B;
background-color: #83764F;
transition: ease-in-out 0.4s;
border: solid;
border-color: #83764F;
}


.dark-mode {
  background-color: #333;
  color: #f0f0f0;
  transition: all 0.4s ease-in;
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}


.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}


.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #2196f3;
}


input:focus + .slider {
  box-shadow: 0 0 2px #2196f3;
}


input:checked + .slider:before {
  transform: translateX(1.63rem);
}
